<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="it.polimi.ingsw.ServerMain" />
    <module name="ing-sw-2024-franzoni-langella-murru-nguedjionezeko" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>